body {
  /* padding: 1rem; */
  background-image: url('./valley-bg.png');
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  /* flex: 1 0 auto; */
}

.flex-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.gap-1 {
  gap: 1rem;
}

.debug:hover {
  outline: 1px solid red;
}

.stretch {
  align-self: stretch;
}

.flex-end {
  justify-content: flex-end;
}

.width-20 {
  width: 20px;
}

.width-60 {
  width: 60px;
}

.width-275 {
  width: 275px;
}

.support {
  border-style: none;
  background-color: inherit;
  color: gray;
  cursor: pointer;
  /* margin-top: 10vh; */
}

.rounded-logo {
  border-radius: 50%;
}

.m-l-20 {
  margin-left: 20px;
}

h4 {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.pre-line {
  white-space: pre-line
}